/*******************************************************************************
Slate Theme for GitHub Pages
by Jason Costello, @jsncostello
*******************************************************************************/

@import url(pygment_trac.css);

/*******************************************************************************
MeyerWeb Reset
*******************************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a:focus {
  outline: none;
}

/*******************************************************************************
Theme Styles
*******************************************************************************/
body{
	background color:
}
span { display:inline-block; vertical-align:middle }
a{
	color: black;
	text-decoration:none;
	color: #554035;
}
input{
padding: 0px 0px 0px 5px;
	width:130px;
	height:30px;
	border-width:0px;
}
input:disabled{
	background-color: white;
	color: black;
	font-weight:bold;
}
h1{
text-align:center;
font-weight:bold;
font-size: 24px;
}
.inputDiv{
	height:33px;
	border-color: #a38c4d;
	border-style: solid;
	border-width: 1px;
}
.super-wrapper{
	width: 950px ;
	margin-left: auto ;
	margin-right: auto ;
}
div.name{
-webkit-border-top-left-radius: 15px;
-webkit-border-bottom-left-radius: 15px;
-moz-border-radius-topleft: 15px;
-moz-border-radius-bottomleft: 15px;
border-top-left-radius: 15px;
border-bottom-left-radius: 15px;
margin-bottom:2px;
padding: 5px 0px 5px 15px;
text-align:left;
	float:left;
	width:150px;
	height:25px;
	background-image: url('');
	background-color: #a38c4d;
	font-size:18px;
	color:white;
	font-weight:bold;
}
.info{
	font-weight:bold;
	padding: 0 0 0 40px;
}
.weight{

}
.name>p{
	width:140px;
	margin-left: auto;
    margin-right: auto;
}
.calc{
	display:block;
	position:relative;
	float:left;
	margin: 30px 30px;
}
div.calc-wrapper{
	display:inline;
	float:left;
}
div.inputDiv{
	float:left;
}
div.item{
	background-color:red;
}
